<div class="title">
  <h2 class="story-title"> Job Posting <h2>
    <div class="job-card-deck">
      {{#each job}}
      <!-- Card Narrower -->
      <div class="job-card card-cascade narrower">
        <!-- Card image -->
        <div class="view-overlay">
          <img class="card-img-top" src={{logo}} alt="{{company}}">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Label -->
          <h5 class="pink-text pb-2 pt-1"> <i class="{{icon}}"></i>   {{field}}</h5>
          <!-- Title -->
          <h4 class="card-title">{{company}}</h4>
          <!-- Text -->
          <p class="card-text"> <strong>Position: </strong>{{position}}</p>
          <p class="card-text"> <strong>Location: </strong>{{location}}</p>
          <p class="card-text"> <strong>Date Posted: </strong>{{date_posted}}</p>

          <!-- Button -->
          <a class="btn btn-primary" href="/job">Apply</a>

        </div>
      </div>
      {{/each}}

    </div>
  </div>

<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
