<div class="title">
  <h2 class="story-title"> Testimonials and Resources <h2>
  <div class="story-card-deck">
    {{#each stories}}
      {{#if image}}
        <div class="content">
          <div class="story-card">
           <a href="/story?id={{id}}">
            <div class="content-overlay"></div>

              <img class="card-img-top" src={{image}}>
              <!-- Title -->
              <h4 class="story-title">{{title}}</h4>
              <!-- Text -->
              <p class="story-text">{{author}}</p>
              <div class="content-details fadeIn-top">
                <h3>{{description}}</h3>
              </div>
          </a>
          </div>
        </div>
      {{else}}
        <div class="content">
          <div class="story-card-no-img">
          <a href="/story?id={{id}}">
            <div class="content-overlay"></div>
              <!-- Title -->
              <h3 class="story-title-no-img">{{title}}</h3>
              <!-- Text -->
              <h5 class="story-text-no-img">{{author}}</h5>
              <div class="content-details fadeIn-top">
                <h3>{{description}}</h3>
              </div>
          </a>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>

</div>
<!-- Pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {{#if no_prev}}disabled{{/if}}">
      <a class="page-link" href="/stories?p={{page_prev}}" tabindex="-1">&laquo;</a>
    </li>
    <li class="page-item {{#if no_next}}disabled{{/if}}">
      <a class="page-link" href="/stories?p={{page_next}}">&raquo;</a>
    </li>
  </ul>
</nav>
